[user]
	name = Victor Quinn
#       email = vquinn@amherst.edu # Amherst College
#	email = vquinn@ngpvan.com # NGP VAN
#	email = victor@socialradar.com # SocialRadar
#       email = victor@shopspring.com # Spring
#       email = victor@knotel.com # Knotel
        email = mail@victorquinn.com # Personal
#       email = vquinn@better.com # Better
        signingkey = 0C785D78CCCF28C39841222FEF304CDD429F5478

[commit]
        gpgsign=true

[core]
        editor = emacs
	excludesfile = /Users/victorquinn/.gitignore

[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
        ui = auto

[alias]
        cavm = commit -avm
        a = add -p
        bh = for-each-ref --sort=-committerdate refs/heads/ --format='%(authordate:short) %(color:red)%(objectname:short) %(color:yellow)%(refname:short)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset))'
        st = status
        pr = pull --rebase
        br = branch
        ri = rebase -i origin/master
        lg = log -p
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        l5 = log --graph --decorate --pretty=oneline --abbrev-commit --all -5
        l = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all --first-parent
        ls = ls-files
        uncommit = reset --soft HEAD^
        ldiff = log --stat
        dw = diff --word-diff
        ru = remote update
        standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday
	today = !git log --since=midnight --author=\"$(git config user.name)\" --oneline
	yesterday = !git log --graph --all --since=\"yesterday.midnight\" --until=\"midnight\" --author=\"$(git config user.name)\" --oneline
        up = !git remote update -p; git merge --ff-only @{u}
    
[push]
	default = matching

[oh-my-zsh]
        hide-status = 1

[pull]
        default = current
        rebase = true

[rebase]
        autosquash = true
[init]
	defaultBranch = main
